{% if user.is_authenticated %}
<h2>You are already logged in with email: {{user}}</h2>
Go to:
<br>
<a href="entry">entry</a><br>
<a href="exit">exit</a><br>
<a href="floor">floor</a><br>
<a href="settings">settings</a><br>
{% else %}
<h1>Welcome </h1>
{% for msg in messages %}
<h4 style="color: red;">{{msg}}</h4>
{% endfor %}
<h2>Login below</h2>
<form action="login" method="POST">
    {% csrf_token %}
    <p>username (org username)</p>
    <input type="username" name="username" />
    <p>Password</p>
    <input type="password" name="password" />
    <input type="submit" />
</form>
New here?  Click <a href="/">here</a>
{% endif %}